

body {background-color: #66CCFF;
		font-family: Arial, Verdana, sans-serif; 
		color: #003366
}
#container {margin-left:auto;
			margin-right: auto;
			width: 850;
			padding: 0 20px 10px;
			background-color: #FFFFFF;
			box-shadow: 5px 5px 5px #1e1e1e;}
h1 {background-color: #FFFFFF;
		color: #003366
}
h2 {background-color: #0099CC;
		color: #003366
}
